:root {
  --dark-color: #2e2f42;
  --text-color: #434455;
  --pressed-state-color: #404bbf;
  --primaryBrand-color: #4d5ae5;
  --success-color: #31d0aa;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f4266;
  --hero-background-color: #2e2f42b2;
}
body {
  font-family: 'Roboto', sans-serif;
}
.header {
  background: #ffffff;
}
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}
.logo span {
  color: var(--primaryBrand-color);
}

.list {
  list-style: none;
}
/* ----------------------navigation -----------------------*/
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
}
.nav-link.curent {
  color: var(--pressed-state-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}
.mail {
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mail:hover {
  color: var(--pressed-state-color);
}
.phone {
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.main {
  background: #e5e5e5;
}
/* ---------------------------------hero --------------------------------*/
.section-hero {
  background-color: var(--dark-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primaryBrand-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
}
/* -------------------------------section 1 -----------------------------*/
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* --------------------------------section 2---------------------------------- */
.doing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
/* ------------------------------------section 3 ---------------------------- */
.section-team {
  background-color: var(--light-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* --------------------------------------*footer* ----------------------------*/
.footer {
  background-color: var(--dark-color);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}
.footer-logo > span {
  color: var(--primaryBrand-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* ----------------- P O R T F O L I O ------------------------------ */
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.04em;
  background-color: var(--light-color);
  color: var(--primaryBrand-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--pressed-state-color);
}
.portfolio-link {
  text-decoration: none;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
